In [1]:
print('Hello, world')

Hello, world

## About Comment

In [8]:
# this is comment

In [9]:
'''
line 1
line 2
'''

'\nline 1\nline 2\n'

## Variables

In [12]:
# booleans
true_boolean = True
false_boolean = False

# string
my_name = "Leandro Tk"

# float
book_price = 15.80

print(true_boolean)
print(my_name)
print(book_price)

True
Leandro Tk
15.8

In [17]:
print(type(book_price))
print(type(my_name))
print(type(true_boolean))

<class 'float'>
<class 'str'>
<class 'bool'>

In [42]:
# address of the variable
print(id(book_price))
print(id(10))

4428569456
4401183632

## Operators

### Unary operators

In [40]:
i = 10

print(-i)
print(+i)
print(~i) # bitwise compliment
print(not(True))

-10
10
-11
False

### Arthmetic (binary) Operators

In [31]:
i = 10 #  
j = i + 10 # addition
print('addition:', j)

k = j - 5 # subtraction
print('20 - 5 = ',k)

# mult *
# division /

div = int(20 / 4)
print(div)
type(div)

## mod

mod_value = 10 % 3 
print('10 % 3 = ', mod_value) # modulus / remainder

quot_value = 10 // 3  ## floor division
print('10 // 3 = ', quot_value)

print('div 10 /3 = ', 10 / 3) # divi

print('exponential : 5 ** 3 =', 5 ** 3) ## exponential

addition: 20
20 - 5 =  15
5
10 % 3 =  1
10 // 3 =  3
div 10 /3 =  3.3333333333333335
exponential : 5 ** 3 = 125

## String Manipulation

In [51]:
str1 = 'Hello, world'

# traverse char by char and print
# end - appended after last value
for char in str1:
    print(char,'-', end='', sep='')

H-e-l-l-o-,- -w-o-r-l-d-

In [53]:
# another way for loop
for char in range(0, len(str1)):
    print(str1[char],'-', end='', sep='')

H-e-l-l-o-,- -w-o-r-l-d-

### String addition /concatenation

In [55]:
str1 = 'first'
str2 = 'second'
str3 = str1 + ' ' + str2
print(str3)

first second

In [58]:
## string replication
str1 = ' hello'
print(3*str1)

 hello hello hello

In [59]:
print(3*"str")

strstrstr

In [61]:
'A' > 'a'

False

In [66]:
# get ascii value - ord()

print(ord('A'))
print(ord('a'))

## from integer (ascii value) to char
print(chr(97))

65
97
a

### Slicing

In [77]:
str1 = 'wonderful'
print(len(str1))
print(str1[0:7])
print(str1[-8:-5])
print(str1[:6])
print(str1[4:])

# skip one char string{start:end:skip]}
print(str1[1:9:2])

9
wonderf
ond
wonder
erful
odru

In [82]:
var1 = 'hello, world'
print(var1.capitalize())

str2 = ' the quick brown fox jumped over a lazy dog 1234 times'
subStr = str2.find('lazy')
print(subStr)

Hello, world
35

In [76]:
?str

In [87]:
list1 = ['s',1,'y',56,98]
list1[1]='h'
list1[3]='a'
list1[-1]='m'
print(list1)

['s', 'h', 'y', 'a', 'm']

In [95]:
a = 'sai Geetha Manoharan'
a.upper()
b = 'ANANDAN BALAJI'
b.lower()

'anandan balaji'

## Control Statement

In [19]:
a = 11
b = a < 10
print(b)

False

In [7]:
i = 15
if i<10:
    i = i + 2
    print(i)

# List Manipulation

In [ ]:
l1 = list(input('enter list elements:'))

In [98]:
print(l1)

['s', 'h', 'r', 'e', 'y', 'a', 'b', 'u', 'm']

In [2]:
b = [2,3,4,5]
a = [1,2,3,4]
c = a + b
print(c)

[1, 2, 3, 4, 2, 3, 4, 5]

In [3]:
b = [2,3,4,5]
print(b)

[2, 3, 4, 5]

In [6]:
l1 = list('shreyabum')
l1
len(l1)
a = l1[2:5]
print(a)

['r', 'e', 'y']

In [13]:
l1 = [23,46,2,8,0,3,11,34]

l1.sort()
l1

[0, 2, 3, 8, 11, 23, 34, 46]